@import "./../../styles/mixin.scss";
@import "./../../styles/variables.scss";

.btn {
  @include border;
  @include flex-center;
  justify-content: stretch;

  width: 100%;
  font-size: 14px;
  font-weight: $font-semibold;
  padding: 0.5rem 1.25rem;
  border-color: $primary-color;
  background-color: $primary-color;
  color: $white;

  p {
    text-align: center;
    width: 100%;
  }
}

.outline {
  background-color: transparent;
  color: $black;
}
