@import "./../../styles/mixin.scss";
@import "./../../styles/variables.scss";

.card {
  @include border;
  padding: 2rem;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    gap: 1.5rem;
    margin: 0;
  }

  p {
    font-size: 18px;
    font-weight: $font-light;
    margin: 1.5rem 0;
  }

  button {
    @include border;

    font-size: 14px;
    font-weight: $font-semibold;
    padding: 0.5rem 1.25rem;
    width: max-content;
    color: $primary-color;
    background-color: transparent;
    border-color: $primary-color;
  }
}
