@import "@/src/styles/variables.scss";
@import "@/src/styles/mixin.scss";

.container {
  width: 100%;
  h1 {
    font-style: italic;
    font-weight: $font-medium;
    font-size: 36px;
    margin-bottom: 1rem;
    .blue {
      color: $secondary-color;
    }

    .voilet {
      color: $primary-color;
    }
  }

  .heroBanner {
    min-height: 528px;
    height: 100%;
    padding: 6rem 4rem 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: $background-color;

    .about {
      width: 57%;
      background: url("/svg/hero.svg") no-repeat;
      background-size: contain;
      background-position-y: bottom;

      h1 {
        font-weight: $font-semibold;
      }

      p {
        margin-bottom: 1rem;
        line-height: 30px;
        font-size: 14px;
      }
    }

    .form {
      width: 33%;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    gap: 1rem;
  }

  .addOwn {
    background-color: $background-color;
    padding: 4rem;

    a {
      width: max-content;
      p {
        margin: 0;
      }
    }
  }

  .testimonial {
    background-color: $white;
    padding: 4rem;

    .color {
      background-color: $background-color;
    }
  }

  .getStarted {
    padding: 4rem 4rem 1rem;
    background-color: $light-grey;
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;

    button {
      width: max-content;
      font-size: 20px;
      margin-bottom: 4rem;
    }
    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    h1 {
      font-size: 18px;
    }

    .heroBanner {
      flex-direction: column;
      height: max-content;
      padding: 4rem 2rem;

      .about,
      .form {
        width: 100%;
      }

      .about {
        background: none;

        p {
          font-size: 12px;
        }
      }
    }

    .cards {
      padding: 4rem 2rem;
      grid-template-columns: 1fr;
    }

    .addOwn {
      padding: 4rem 2rem;

      a {
        width: 90%;
      }
    }

    .testimonial {
      padding: 4rem 2rem;
    }

    .getStarted {
      padding: 4rem 2rem 1rem;

      button {
        font-size: 14px;
      }
    }
  }
}
