@import "./../../styles/variables.scss";
@import "./../../styles/mixin.scss";

.footerContainer {
  .footer {
    @include flex-center;
    justify-content: space-between;
    align-items: stretch;
    padding: 4rem;
    color: $black;
    flex-wrap: wrap;
    gap: 2rem;

    h4 {
      font-size: 14px;
      font-weight: $font-bold;
      margin-bottom: 0.75rem;
    }

    .footerTabs {
      li {
        margin-bottom: 0.25rem;
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;

      ul {
        @include flex-center;
        gap: 1.5rem;

        li {
          img {
            padding: 0.25rem;
            border-radius: 50%;
            background-color: $light-grey;
          }
        }
      }
    }
  }

  .searchInput {
    display: flex;
    input {
      margin-bottom: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: $grey;
      border-color: $primary-color;
      width: 100%;
    }
    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0.5rem 1rem;
      width: max-content;
    }
  }

  .copyright {
    padding: 1.5rem 0;
    text-align: center;
    background-color: $background-color;
    font-weight: $font-medium;
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .footerContainer {
    .footer {
      flex-direction: column;
      gap: 1.4rem;
      padding: 2rem;

      .contact {
        ul {
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: 0.5rem;
          margin: 1rem 0;
        }
      }
    }
  }
}
